@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
/* 
to do: 
    add in media queries so things stop breaking at small screen sizes
    come up with a mobile layout??? for jeopardy???
*/

.grid {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "category category category category category category"
    "200 200 200 200 200 200"
    "400 400 400 400 400 400"
    "600 600 600 600 600 600"
    "800 800 800 800 800 800"
    "1000 1000 1000 1000 1000 1000";
    border:10px solid gold;
}

/* .grid {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
} */

.grid-item {
    justify-content: baseline;
    padding: 0.3em;
    border: 1px solid #fff;
    background-color: darkblue;
    text-transform: uppercase;
}

.category {    
    color: white;
    font-family:'Teko', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 1.75rem;
    line-height: 1;
    letter-spacing: 1.3;
}

.clue {
    color: gold;
    font-family:'Teko', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}

.v200 {grid-area: 200;}
.v400 {grid-area: 400;}
.v600 {grid-area: 600;}
.v800 {grid-area: 800;}
.v1000 {grid-area: 1000;}


/* modal stuff below */
.dim {
    opacity: 0.2;
}

.container {
    padding: 2em;
    margin: 0 auto;
    width: 70%;
    text-align: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.modal {
    background-color: rgb(166, 200, 250);
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.answer {
    background-color:rgb(109, 145, 199);
    padding: 0.5em;
    margin-left: 1em;
    color: #fff;
}